<% provide(:title, 'Privacy Policy') %>
    <h1>Our Privacy Policy</h1>
    <p>
      We will keep your pets very <a href="http://taslookingglass.files.wordpress.com/2010/09/woman-shushing-21.jpg">Private</a>! Trust Us!
    </p>
